# Make sure message content intent is enabled!
# Overview -> Bot -> Reset token
DISCORD_TOKEN=
# Overview -> OAuth2 -> Client Information
DISCORD_CLIENT_ID

# Ollama Model
MODEL=

# System Prompt
SYSTEM=
